* {
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 0.75rem; */
}

.Navbar-logo img {
  width: 50%;
}

.Navbar-menu {
  display: flex;
}

.Navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14.4px;
}

.Navbar-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border-radius: 4px;
}

.Create-btn {
  background-color: #382946;
  margin: 4px 4px 4px 16px;
  border-radius: 4px;
  font-size: 12.8px !important;
}

.Create-btn:hover {
  background-color: #2a1f34 !important;
}

/* For mobile menu  */

.Navbar-mobile {
  flex-direction: column;
}

.Navbar-mobile a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14.4px;
}

.Navbar-mobile-menu {
  display: none;
}

.Navbar-mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14.4px;
}

.Navbar-mobile-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border-radius: 4px;
}

@media screen and (max-width: 732px) {
  .Navbar-mobile-menu {
    display: flex;
  }
  .Navbar-menu {
    display: none;
  }
}
